html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* overflow: hidden; */
}
body{
    background-color: blue;
}
body,
p,
h1 {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 14px;
}
.first-element,
.container {
    position: relative;
    height: 100vh;
    margin: 0;
}

.container-1 {
    background-color: aqua;

}

.container-2 {
    background-color: bisque;
}

.container-3 {
    margin: 0;
    background-color: yellow;
}
/* для канвас расстягивание таким образом не работает */
.canvas{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}